@model Smoothboard.Models.Opdracht

@{
    ViewData["Title"] = "Create";
}

<h1>Maak een Opdracht aan</h1>

<h4>Opdracht:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KlantId" class="control-label"></label>
                <select asp-for="KlantId" class ="form-control" asp-items="ViewBag.KlantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatumGebracht" class="control-label"></label>
                <input asp-for="DatumGebracht" class="form-control" />
                <span asp-validation-for="DatumGebracht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumOpgehaald" class="control-label"></label>
                <input asp-for="DatumOpgehaald" class="form-control" />
                <span asp-validation-for="DatumOpgehaald" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AkkoordDesign" /> @Html.DisplayNameFor(model => model.AkkoordDesign)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SurfboardDesign" class="control-label"></label>
                <input asp-for="SurfboardDesign" class="form-control" />
                <span asp-validation-for="SurfboardDesign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lengte" class="control-label"></label>
                <select asp-for="Lengte" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(LengteEnum)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="Lengte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breedte" class="control-label"></label>
                <select asp-for="Breedte" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(BreedteEnum)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="Breedte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
