@model IEnumerable<Smoothboard.Models.OpdrachtTest>

@{
    ViewData["Title"] = "Opdrachten TIJDELIJK";
}

<div class="d-flex w-100 justify-content-between align-items-end pb-5">
    <h1 class="display-3 fw-bold">Klanten opdrachten</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Maak nieuwe opdracht</a>
    </p>
</div>
<p class="pb-5 text-primary fs-5" style="width: 35%;">
    Deze pagina is hier alleen omdat momenteel <strong>Create</strong> en <strong>Edit</strong> niet werken van de opdrachten pagina. Voorlopig kan je hier nog wel de opdrachten in plaatsen, de nadeel is dat je zelf de klant naam moet intypen.
</p>
<table class="table table-striped table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.KlantNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumGebracht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOpgehaald)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AkkoordDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfboardDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lengte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breedte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlantNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumGebracht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOpgehaald)
            </td>
            <td>
                @(item.AkkoordDesign ? "Ja" : "Nee")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfboardDesign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lengte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breedte)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
